
<div class="row">
    <div class="col-md-6 mx-auto mt-5">
      <div class="card">
        <div class="card-body">
          <h1 class="text-center">¡Bienvenidos a la página oficial de</h1>
          <h1 class="text-center">Oquita's Shop!</h1>
        </div>
      </div>
    </div>
  </div>
  