<div class="card mt-5" *ngIf="user$ | async as user; else loading">
  <div class="card-body">
    <h3 class="card-title text-center">Gracias por registrarte!</h3>
    <div class="form-group mt-2">
      <p class="text-center">
        Hemos enviado un correo electrónico a <strong>{{ user?.email }}</strong>
      </p>
      <p class="text-center">
        Por favor checa tu correo y da click al link para verificar tu cuenta
      </p>
    </div>
    <div class="form-group text-center mt-5">
      <button class="btn btn-primary" (click)="onSendEmail()">
        Volver a enviar correo
      </button>
    </div>
  </div>
</div>

<ng-template #loading>
  Loading....
</ng-template>
