<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="\">Oquita's Shop</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarColor01"
    aria-controls="navbarColor01"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" *ngIf="user$ | async as user">
        <a class="nav-link" routerLink="/crud">Crud de Productos |</a>
        
      </li>
      <li class="nav-item active" *ngIf="user$ | async as user">
        <a class="nav-link" routerLink="/editor">Roles de Usuario |</a>
        
      </li>
    </ul>
    <ul class="navbar-nav mx-auto" *ngIf="user$ | async as user; else login">
      <li class="nav-item">
        <a class="nav-link"> ¡Bienvenido {{ user?.email }}! |</a>
      </li>
      <li class="nav-item" *ngIf="user">
        <a href="#" class="nav-link" (click)="onLogout()">Cerrar Sesión</a>
      </li>

    </ul>
    <ng-template #login>
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Iniciar Sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Registrate Aquí!</a>
        </li>
      </ul>
    </ng-template>
  </div>
</nav>
